.content {
	padding-bottom: 5em;
	padding-right: 12em;
}

svg {
	width: 100%;
	height: 100%;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg * {
	pointer-events: none;
}

text {
	text-anchor: middle;
	alignment-baseline: middle;
	font-size: 1.4em;
}

.node {
	fill: #aaa;
	stroke: black;
	stroke-width: 1;
	cursor: move;
	pointer-events: fill;
}

.intermediate-node {
	fill: #666;
	stroke: black;
	stroke-width: 1;
}

.controls {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 2em;
	padding: 0 5em;
	z-index: 2;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slider {
	position: relative;
	width: 100%;
	padding: 0 3.5em 0 0;
	display: block;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slider span {
	position: absolute;
	width: 4em;
	top: -0.3em;
	right: 0;
	text-align: right;
	font-family: 'Source Sans Pro', monospace;
}

.slider input {
	width: 100%;
	cursor: ew-resize;
}

.guide-vector, .guide-curve {
	stroke: #ddd;
	stroke-width: 1.5;
	fill: none;
}

.intermediate-vector {
	stroke: rgb(152,188,219);
	stroke-width: 4;
}

.main-curve {
	stroke: rgb(201,83,0);
	stroke-width: 5;
	fill: none;
}

.trajectory {
	stroke: black;
	opacity: 0.5;
	stroke-width: 2;
	stroke-dasharray: 5,5;
	marker-end: url(#arrow-end);
}

.trajectory-hint {
	fill: rgba(0,0,0,0.5);
	stroke: black;
	stroke-width: 1;
}

.cross {
	stroke: black;
	opacity: 0.5;
	stroke-width: 2;
	stroke-dasharray: 2,2;
}

.sidebar-controls-outer {
	position: absolute;
	right: 0;
	top: 0;
	width: 17em;
	height: 100%;
	padding: 1em 5em 6em 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sidebar-controls-inner {
	width: 100%;
	height: 100%;
	background-color: #f9f9f9;
	padding: 1em;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
	overflow-y: auto;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sidebar-controls-inner input[type="range"] {
	width: 100%;
}

label {
	display: block;
	padding: 0.2em 0;
}

.result, .approximation {
	fill: rgba(201,83,0,0.8);
}

.result-outline, .approximation-outline {
	fill: none;
	stroke: black;
	stroke-width: 1;
}