@media -sass-debug-info{filename{}line{font-family:\0000339}}
.browser-warning {
  text-align: center;
  font-size: 2em;
  max-width: 20em;
  margin: 0 auto; }

@font-face {
  font-family: 'Voltaire';
  src: url("../files/fonts/Voltaire.eot");
  src: url("../files/fonts/Voltaire.eot?#iefix") format("embedded-opentype"), url("../files/fonts/Voltaire.woff") format("woff"), url("../files/fonts/Voltaire.ttf") format("truetype"), url("../files/fonts/Voltaire.svg#webfont") format("svg"); }

@font-face {
  font-family: 'Poiret One';
  src: url("../files/fonts/PoiretOne.eot");
  src: url("../files/fonts/PoiretOne.eot?#iefix") format("embedded-opentype"), url("../files/fonts/PoiretOne.woff") format("woff"), url("../files/fonts/PoiretOne.ttf") format("truetype"), url("../files/fonts/PoiretOne.svg#webfont") format("svg"); }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../files/fonts/GuardianTitlepieceWeb-Regular.eot");
  src: url("../files/fonts/GuardianTitlepieceWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../files/fonts/GuardianTitlepieceWeb-Regular.woff") format("woff"), url("../files/fonts/GuardianTitlepieceWeb-Regular.ttf") format("truetype"), url("../files/fonts/GuardianTitlepieceWeb-Regular.svg#Guardian Titlepiece Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Guardian Titlepiece Web';
  src: url("../files/fonts/GuardianTitlepieceWeb-Regular.eot");
  src: url("../files/fonts/GuardianTitlepieceWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../files/fonts/GuardianTitlepieceWeb-Regular.woff") format("woff"), url("../files/fonts/GuardianTitlepieceWeb-Regular.ttf") format("truetype"), url("../files/fonts/GuardianTitlepieceWeb-Regular.svg#Guardian Titlepiece Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Guardian Sans Web';
  src: url("../files/fonts/Guardian Sans Web-Light.eot");
  src: url("../files/fonts/Guardian Sans Web-Light.eot?#iefix") format("embedded-opentype"), url("../files/fonts/Guardian Sans Web-Light.woff") format("woff"), url("../files/fonts/Guardian Sans Web-Light.ttf") format("truetype"), url("../files/fonts/Guardian Sans Web-Light.svg#Guardian Sans Web") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Guardian Sans Web';
  src: url("../files/fonts/Guardian Sans Web-Regular.eot");
  src: url("../files/fonts/Guardian Sans Web-Regular.eot?#iefix") format("embedded-opentype"), url("../files/fonts/Guardian Sans Web-Regular.woff") format("woff"), url("../files/fonts/Guardian Sans Web-Regular.ttf") format("truetype"), url("../files/fonts/Guardian Sans Web-Regular.svg#Guardian Sans Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@media -sass-debug-info{filename{}line{font-family:\00003114}}
.footer {
  position: absolute;
  width: 100%;
  height: 3em;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #f4f4f4;
  border-top: 2px solid #004a83;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003127}}
.logo, .logo-the, .logo-guardian {
  font-family: 'Guardian Titlepiece Web'; }

@media -sass-debug-info{filename{}line{font-family:\00003131}}
.logo-the {
  color: #98bcdb; }

@media -sass-debug-info{filename{}line{font-family:\00003136}}
.logo-guardian {
  color: #004a83; }

@media -sass-debug-info{filename{}line{font-family:\00003142}}
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

@media -sass-debug-info{filename{}line{font-family:\00003150}}
body {
  font-family: 'Guardian Sans Web', 'sans-serif';
  font-size: 20px;
  font-weight: 300;
  color: #353535;
  padding: 0 0 3em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003160}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Guardian Sans Web';
  font-weight: 400;
  margin: 1.5em 0 0.5em 0;
  line-height: 1.2; }
@media -sass-debug-info{filename{}line{font-family:\00003166}}
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0.5em; }

@media -sass-debug-info{filename{}line{font-family:\00003171}}
h2 {
  font-size: 1.8em; }

@media -sass-debug-info{filename{}line{font-family:\00003175}}
p {
  margin: 0.5em 0;
  line-height: 1.5;
  font-size: 1.4em; }

@media -sass-debug-info{filename{}line{font-family:\00003181}}
a {
  color: #004a83;
  text-decoration: none;
  font-weight: 400; }
@media -sass-debug-info{filename{}line{font-family:\00003186}}
  a:hover {
    text-decoration: underline; }
@media -sass-debug-info{filename{}line{font-family:\00003190}}
  a:visited {
    color: #004a83; }

@media -sass-debug-info{filename{}line{font-family:\00003194}}
body {
  font-size: 16px; }
  @media (min-width: 32em) {
@media -sass-debug-info{filename{}line{font-family:\00003194}}
    body {
      font-size: 17px; } }
  @media (min-width: 40em) {
@media -sass-debug-info{filename{}line{font-family:\00003194}}
    body {
      font-size: 18px; } }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{}line{font-family:\00003194}}
    body {
      font-size: 20px; } }
  @media (min-width: 56em) {
@media -sass-debug-info{filename{}line{font-family:\00003194}}
    body {
      font-size: 22px; } }
  @media (min-width: 64em) {
@media -sass-debug-info{filename{}line{font-family:\00003194}}
    body {
      font-size: 24px; } }
  @media (min-width: 72em) {
@media -sass-debug-info{filename{}line{font-family:\00003194}}
    body {
      font-size: 26px; } }
  @media (min-width: 80em) {
@media -sass-debug-info{filename{}line{font-family:\00003194}}
    body {
      font-size: 28px; } }
  @media (min-width: 88em) {
@media -sass-debug-info{filename{}line{font-family:\00003194}}
    body {
      font-size: 30px; } }
  @media (min-width: 96em) {
@media -sass-debug-info{filename{}line{font-family:\00003194}}
    body {
      font-size: 32px; } }

@media -sass-debug-info{filename{}line{font-family:\00003234}}
svg {
  font-size: 22px; }

@media -sass-debug-info{filename{}line{font-family:\00003237}}
.centred {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003246}}
.column2 {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  padding: 0 0.5em 0 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003258}}
.column2-header {
  position: absolute;
  width: 100%;
  height: 2em;
  top: 0; }

@media -sass-debug-info{filename{}line{font-family:\00003265}}
.column2-header a {
  font-size: 0.8em; }

@media -sass-debug-info{filename{}line{font-family:\00003268}}
.column3 {
  position: relative;
  width: 33.333%;
  height: 100%;
  float: left;
  padding: 0 0.5em 0 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003280}}
.column3-header {
  position: absolute;
  width: 100%;
  height: 2em;
  top: 0; }

@media -sass-debug-info{filename{}line{font-family:\00003287}}
.column3-header a {
  font-size: 0.8em;
  margin-top: 0.6em;
  display: block; }

@media -sass-debug-info{filename{}line{font-family:\00003292}}
.columns-outer {
  position: relative;
  margin: 0 -0.5em;
  padding: 0 1em 0 0;
  width: 100%;
  height: 100%; }

@media -sass-debug-info{filename{}line{font-family:\00003300}}
.columns-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

@media -sass-debug-info{filename{}line{font-family:\00003308}}
.column-withheader {
  padding-top: 1.8em; }

@media -sass-debug-info{filename{}line{font-family:\00003313}}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003322}}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003332}}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  padding: 2em 2em 0 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003342}}
  .header h1 {
    margin: 0;
    padding: 0 0 0.1em 0;
    border-bottom: 1px solid #eee; }

@media -sass-debug-info{filename{}line{font-family:\00003348}}
.image {
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover; }
@media -sass-debug-info{filename{}line{font-family:\00003354}}
  .image.contain {
    background-size: contain; }

@media -sass-debug-info{filename{}line{font-family:\00003359}}
.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat 50% 50%;
  background-size: cover; }

@media -sass-debug-info{filename{}line{font-family:\00003371}}
.credit {
  position: absolute;
  right: 1em;
  bottom: 1em;
  opacity: 0.8; }

@media -sass-debug-info{filename{}line{font-family:\00003378}}
.credit a {
  color: white;
  font-size: 0.8em; }

@media -sass-debug-info{filename{}line{font-family:\00003382}}
.interstitial {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
@media -sass-debug-info{filename{}line{font-family:\00003389}}
  .interstitial h1 {
    position: absolute;
    left: 0;
    bottom: 1.2em;
    color: white;
    border: none;
    margin: 0;
    font-size: 4em;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.2em 0.6em 0.2em 0.3em; }

@media -sass-debug-info{filename{}line{font-family:\00003403}}
.part-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
@media -sass-debug-info{filename{}line{font-family:\00003410}}
  .part-title .left, .part-title .right {
    position: absolute;
    width: 50%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003418}}
  .part-title .left {
    left: 0;
    text-align: right;
    padding: 0 1em 0 0; }
@media -sass-debug-info{filename{}line{font-family:\00003424}}
  .part-title .right {
    right: 0; }
@media -sass-debug-info{filename{}line{font-family:\00003428}}
  .part-title span, .part-title h1 {
    font-size: 3em;
    display: block;
    margin: 0; }
@media -sass-debug-info{filename{}line{font-family:\00003434}}
  .part-title h1 {
    font-weight: normal; }
@media -sass-debug-info{filename{}line{font-family:\00003438}}
  .part-title span {
    font-weight: bold;
    color: #eee; }
@media -sass-debug-info{filename{}line{font-family:\00003442}}
    .part-title span.current {
      color: #353535; }

@media -sass-debug-info{filename{}line{font-family:\00003447}}
.previous-example {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003458}}
.previous-example-source {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003467}}
  .previous-example-source p {
    margin: 0;
    font-size: 0.8em; }

@media -sass-debug-info{filename{}line{font-family:\00003473}}
.previous-example-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5em 0.5em 2.5em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{}line{font-family:\00003480}}
  .previous-example-container iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); }

@media -sass-debug-info{filename{}line{font-family:\00003489}}
.quote-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4em 6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* .quote-container  */
@media -sass-debug-info{filename{}line{font-family:\00003500}}
blockquote {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); }

@media -sass-debug-info{filename{}line{font-family:\00003504}}
blockquote {
  border-left: 4px solid #98bcdb;
  margin: 0 0 0 0.5em;
  padding: 0.5em 0.5em 0.5em 1em;
  background-color: #f9f9f9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/haggis\/Dropbox\/dev\/engineering-delight\/master\/src\/styles\/_base\.scss}line{font-family:\0000313}}
  blockquote:after {
    content: '';
    display: table;
    clear: both; }
@media -sass-debug-info{filename{}line{font-family:\00003513}}
  blockquote figure {
    float: right;
    margin: 0 0 1em 1em; }
@media -sass-debug-info{filename{}line{font-family:\00003518}}
  blockquote figure img {
    width: 100%; }
@media -sass-debug-info{filename{}line{font-family:\00003522}}
  blockquote figcaption {
    font-size: 0.8em;
    text-align: right; }

@media -sass-debug-info{filename{}line{font-family:\00003528}}
blockquote p {
  margin-top: 0; }

@media -sass-debug-info{filename{}line{font-family:\00003532}}
cite {
  font-style: normal; }

@media -sass-debug-info{filename{}line{font-family:\00003536}}
.author {
  font-size: 0.8em;
  margin-bottom: 0; }

@media -sass-debug-info{filename{}line{font-family:\00003540}}
.top-half, .bottom-half {
  width: 100%;
  height: 50%; }

@media -sass-debug-info{filename{}line{font-family:\00003546}}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 4em 0 0 0;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{}line{font-family:\00003559}}
ul {
  font-size: 1.4em; }

@media -sass-debug-info{filename{}line{font-family:\00003563}}
li {
  line-height: 1.2;
  padding: 0.4em 0;
  margin-left: 2em; }

@media -sass-debug-info{filename{}line{font-family:\00003568}}
.invisible {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s; }

@media -sass-debug-info{filename{}line{font-family:\00003578}}
.visible {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
