@import "base";

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

body {
	font-family: 'Guardian Sans Web', 'sans-serif';
	font-size: 20px;
	font-weight: 300;
	color: #353535;

	padding: 0 0 3em 0;
	@include border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Guardian Sans Web';
	font-weight: 400;
	margin: 1.5em 0 0.5em 0;
	line-height: 1.2;

	&:first-child {
		margin-top: 0.5em;
	}
}

h2 {
	font-size: 1.8em;
}

p {
	margin: 0.5em 0;
	line-height: 1.5;
	font-size: 1.4em;
}

a {
	color: $link;
	text-decoration: none;
	font-weight: 400;

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: $link;
	}
}