body {
	font-size: 16px;

	@media (min-width: 32em) {
		font-size: 17px;
	}

	@media (min-width: 40em) {
		font-size: 18px;
	}

	@media (min-width: 48em) {
		font-size: 19px;
	}

	@media (min-width: 56em) {
		font-size: 20px;
	}

	@media (min-width: 64em) {
		font-size: 21px;
	}

	@media (min-width: 72em) {
		font-size: 22px;
	}
}