.columns-outer {
	position: relative;
	margin: 0 -0.5em;
	padding: 0 1em 0 0;
	width: 100%;
	height: 100%;
}

.columns-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.column-withheader {
	padding-top: 2em;
}