.column3 {
	position: relative;
	width: 33.333%;
	height: 100%;
	float: left;
	padding: 0 0.5em 0 0.5em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.column3-header {
	position: absolute;
	width: 100%;
	height: 2em;
	top: 0;
}

.column3-header a {
	font-size: 0.8em;
}